.main-content .card-img{
    border: none;
    height: 144px;
    width: 170px;
    background: gray;
    border-radius: 5px;
    margin-bottom: 8px;
}

.main-content .card-img:focus{
    outline: none
}

.main-content .item{
    flex: 0 0 20%;
    max-width: 20%;
    margin-top: 20px;
}

.main-content .materi{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #6FCF97;
}

.main-content .submateri{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;
}