.card-img{
    width: 288px;
    height: 216px;
    border-radius: 5px;
}

.item .title-desc{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.item .desc {
    padding-left: 16px;
}

.item .desc li{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin-top: 12px;
    text-align: left;
}

.item .price{
    margin-top: 24px;
}

.item .price p{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 19px;
}

.item .pesan{
    margin-top: 20px;
}

.item .pesan .langganan{
    width: 149px;
    height: 47px;
    border: 0.7px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    background: none;
    color: white;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 14px;
    margin-right: 12px;
}

.item .pesan .checkout{
    border: none;
    width: 134px;
    height: 47px;
    background: #3493FE;
    border-radius: 4px;
    color: white;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 14px;
}

.item .pesan .langganan:hover{
    background: white;
    border: none;
    color: black;
}

.item .pesan .checkout:hover{
    background: #0160CB;
}

