.table-responsive{
    width: 676px;
}
.table{
    background-color: white;
    border-radius: 10px;
    border-top: none;
}
.dataTables_wrapper{
    background: white;
    border-radius: 10px;
    padding: 20px;
}
.dataTables_wrapper .form-control{
    background: white;
}
thead tr{
    background: white;
    color: rgba(0, 0, 0, 0.5);
}
thead tr th{
    font-weight: 600;
}
tbody tr:nth-child(odd) {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #000000;
}
/*background color for all the EVEN background rows  */
tbody tr:nth-child(even) {
    background: white;
}
.page-item.active .page-link{
    background: #323267;
    border-color: #323267;
}

