.main-content .card-img{
    border: none;
    height: 144px;
    width: 170px;
    background: gray;
    border-radius: 5px;
    margin-bottom: 8px;
}

.main-content .card-img:focus{
    outline: none
}

.main-content .item{
    margin-top: 20px;
}

.main-content .materi{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #6FCF97;
}

.main-content .submateri{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;
}

.item .listmateri{
    width: 900px;
    height: 120px;
    background: #A7A6A6;
    border-radius: 8px;
    border:none;
    text-align:left;
    padding: 30px 20px;
}
.item .listmateri:hover{
    background: #747373;
}
.item .listmateri .judul{
    font-family: DM Sans;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.item .listmateri .judul2{
    font-family: DM Sans;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.item .listmateri .subjudul{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.item .cheatsheet{
    position: absolute;
    margin-top: -90px;
    margin-left: 796px;
}
.item .cheatsheet .btn{
    width: 48px;
    height: 48px;
    border-radius:50%;
    background: #C4C4C4;
    color:white;
    font-size: 20px;
    display: flex;
    padding: 6px;
    justify-content: flex-center;
}
.item .cheatsheet .btn:hover{
    background: #919191;
}
.item .cheatsheet .teks{
    font-family: DM sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.ch{
    margin-left: 136px;
}
.ch .teks{
    font-family: DM Sans;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.ch .read-online{
    background: #7D2AE8;
}

.ch .download{
    background: #323267;
}

.ch .download, .ch .read-online{
    font-family: DM Sans;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 4px;
}

.line{
    width: 750px;
    height: 1px;
    background: rgba(50, 50, 103, 0.5);
    margin-left: 136px;
}

.ch .dropdown-menu{
    width: 140px;
    background: rgba(50, 50, 103, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 4px;
    border:none;
}

.ch .dropdown-menu .dropdown-item:hover{
    background: rgba(50, 50, 103, 0.8)
}

.ch .dropdown-menu span{
    color: white;
    font-family: DM Sans;
    font-size: 14px;
    line-height: 18px;
}

.disappear{
    display:none;
}

@media only screen and (max-width: 425px){
    .content{
        margin-top: 100px!important;
    }
    .main-content h4{
        font-size: 24px!important;
        line-height: 22px!important;
    }
    .materi{
        padding: 16px!important;
    }
    .item .listmateri{
        width: calc(100% - 20px)!important;
        height: 90px;
        padding: 20px 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .item .listmateri .judul{
        font-size: 18px!important;
        line-height: 23px!important;
        max-width: 57%!important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .item .listmateri .judul2{
        font-size: 18px!important;
        line-height: 23px!important;
        max-width: 100%!important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .item .listmateri .subjudul{
        font-size: 14px!important;
    }
    .item .cheatsheet {
        margin-left: 77%!important;
        margin-top: -75px;
    }
    .item .listmateri .fa-circle.pt-3{
        font-size: 6px!important;
        padding-top: 8px!important;
    }
    .item .cheatsheet .btn{
        width: 36px!important;
        height: 36px!important;
        display: flex!important;
        padding: 3px!important;
        justify-content: flex-center;
    }
    .item .cheatsheet .teks{
        font-size: 12px;
    }
    .item .cheatsheet .btn img{
        vertical-align: text-top!important;
    }
    .ch{
        margin-left: 16px!important;
        display: block!important;
    }
    .line{
        width: 90%!important;
        margin-left: 16px!important;
    }
}